body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:5%; ;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: palevioletred;
    background-image:linear-gradient(palevioletred purple);
    padding: 9px 20px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 14px;
}
.experience-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-items {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
}

.half-width {
    border-radius: 15px;
    margin: 0 15px;
}

#experience-item-1 {
    background-color: rgba(127, 255, 212, 0.356);
}

#experience-item-2 {
    background-color: rgba(255, 192, 203, 0.753);
}

#experience-item-3 {
    background-color: rgba(228, 190, 109, 0.651);
}

.details-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.image-area {
    flex: 3;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.details-image.shape {
    width: 300px;
    height: 300px;
}

.details-picture-container img {
    width: 300px;
    height: 300px;
}

.picture1 {
    position: absolute;
    left: 40px;
}

.text-area {
    flex: 7;
}

.text-area p {
    font-size: 14px;
}


.corona-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.corona-app .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.corona-app .yellow {
    font-family: 'Poppins', sans-serif;
    color: rgb(241, 190, 22);
}

.corona-app-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#corona-app-image img {
    height: 500px;
    width: 300px;
    margin-right: 50px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h1 {
    margin-bottom: 0;
    font-family: 'Script MT';
    font-size: 22px;
}

footer h1 span {
    color: rgb(247, 53, 53);
}

footer p {
    font-size: 8px;
    color: rgb(172, 170, 170);
}
